*{
    margin: 0;
    padding: 0;
    
}

.avatar{
    width: 50%;
    max-width: 50%;
}
header{
    background-color: rgb(44, 62, 80);
}
main section:nth-child(odd){
    background-color:rgb(26, 188, 156) ;
    color: white;
}

header h3{
    vertical-align: middle;
    width: 100%;
}

footer{
    background-color: rgb(58, 84, 109);
    color: white;
}
footer section:last-child{
    background-color:rgb(44, 62, 80) ;  
}
.box{
    height: 2px;
}
.border{
    border: 1px solid black;
    justify-content: center;
}
.fa-star{
    vertical-align: sub;
    color: currentColor;
}
i{
    display: inline-block;
}
.fa-brands{
     aspect-ratio: 1/1;
    border: 1px solid currentColor;
}
 