*{
    margin: 0;
    padding: 0;
    
}

.container-fluid img{
    width: 200px;
}
header{
    background-color: rgb(44, 62, 80);
}
main section:nth-child(odd){
    background-color:rgb(26, 188, 156) ;
}
img{
    width:100%;
}
footer{
    background-color: rgb(58, 84, 109);
    color: white;
}
footer section:last-child{
    background-color:rgb(44, 62, 80) ;
}