*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

header{
    background-color: rgb(44, 62, 80);
}
main section:nth-child(odd){
    background-color:rgb(26, 188, 156) ;
    color: white;
} 
footer{
    background-color: rgb(58, 84, 109); 
}
footer section:last-child{
    background-color:rgb(44, 62, 80) ;  
}
.box{
    height: 2px;
}
.fa-star{
    vertical-align: sub;
    color: currentColor;
}
.plus{
    display: none !important;
    height: 100%;
} 
.plus-none:hover+.plus{
    display: flex !important;;
}

 